@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --cor--primaria:#000000;
    --cor--secundaria:#F6F6F6;
    --cor--terciaria:#FF6500;
    --cor--hover:#1E3E62;
}

* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor--primaria);
    color: var(--cor--secundaria);
}

.titulo-destaque {
    color: var(--cor--terciaria);
}

.apresentacao {
    
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 82px;
}

.apresentacao-imagem {
    width: 30%;
    height: 30%;
    border-radius: 500px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
    gap: 40px;
}
.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 10px;
    width:280px;
    text-align: center;
    border-radius: 80px;
    font-size: 1.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 800;
    font-style: normal;
    padding: 21px 5px;
    text-decoration: none;
    color:var(--cor--secundaria);
    border:1px dotted var(--cor--terciaria);
}
.apresentacao__links__navegacao:hover{
    background-color: var(--cor--hover)
}

.apresentacao__conteudo__subtitulo {
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.rodape{
    margin: 0;
    padding: 1%;
    text-align: center;
    color: var(--cor--primaria);
    font-weight: 300;
    background-color: var(--cor--terciaria);
    font-family: "Ubuntu", sans-serif;
    font-weight: 50;
    font-style: normal;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    gap:40px;
    display: flex;
}

.cabecalho__menu__links{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor--terciaria);
    text-decoration: none;
}

@media(max-width:1200px) {
    .cabecalho {
       padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 8% 5%;
    }
    .apresentacao__conteudo {
        width: auto;
    }
}